.href_head:hover {
    text-decoration: none;    
}

.href_head {
    color: black;
}

hr {
    width: 100%;
    background: white;
}

#clock {
    font-size: 40px;
    /* border: 1px solid white; */
    border-radius: 5px;
}